body {
	margin:0;
	padding:0;
	text-align:center;
}

* {
	font-family:Arial,Helvetica,sans-serif;
}

ul {
	margin:0;
	padding-left:15px;
}

ul li {
	font-size:14px;
	margin:auto auto 5px auto;
}

dl {
	margin:0;
}

dl dt {
	font-size:14px;
	font-weight:bold;
}

dl dd {
	margin:5px auto 20px auto;
}

h1,h2,h3,h4,h5,h6 {
margin:4px auto 10px auto;
}

hr {
	border-width:1px 0 0 0;
	border-style:solid;
	border-color:#909090;
	margin:15px auto 15px auto;
}

fieldset {
	border:1px solid #b0b0b0;
	padding:15px;
}

fieldset label {
	float:left;
	width:100px;
}

table th,
table td {
	border:1px solid #d0d0d0;
}

.sjbjl_color {
	color:#0084B1;
}

div.source,
span.source {
	font-family:"Courier New",courier,monospace;
	font-size:13px;
	white-space:pre;
	line-height:20px;
}

div#docs_container {
	width:1000px;
	margin:15px auto 15px 15px;
	text-align:left;
}